{% extends 'Noticiero/base.html' %}

{% block title %} Autor {% endblock %}

{% block content %}
  <h1>Noticias escritas por: {{ autor.nombre }}</h1>
  {% for value in noticias%}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{value.img1.url}}" alt="Card image cap">
            <div class="card-body">
                <h2>Titulo: {{ value.titulo }}</h2>
                <h3>Autor: <a href="{% url 'autor' value.autor %}"></a>{{ value.autor }}</h3>
                <h5>Fecha: {{ value.fecha }}</h5>
                <a class="btn btn-primary" href="{% url 'detalle' value.titulo %}">Ver más</a>
            </div>
        </div>
  {% endfor %}
{% endblock %}